body
{
    margin: 0;
    padding: 0;

    font-family: Arial;
    font-size: 12px;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.content
{
    margin: 0 10px 0 10px;
}

.command li
{
    padding: 6px;
    margin: 0 0 10px 0;

    border-radius: 4px;
}

.event-item, .action-item {
    cursor: move;
    color: white;
}

.command-items .event-item, .command-items .action-item {
    cursor: default;
}

.column
{
    float: left;
}

.clear
{
    clear: both;
}

.area
{
    margin: 10px 0 0 10px;
    width: 200px;
    border: 1px solid black;

    border-radius: 5px;
}

.area .title
{
    background-color: #374248;
    margin: 0 0 10px 0;
    padding: 5px;
    color: white;
}

.command
{
    width: 600px;
    min-height: 90px;
}

.command-items {
    height: 30px;
}

.command-items li {
    float: left;
}

.actionActive
{
	//background-Color: black;
}

.first-element
{
	background: url('../imgs/assets_icons_0010.png');
	color: white;
	width: 45px;
	height: 33px;
}

.first-element .text
{
	padding: 8px 10px 10px 15px;
}