body
{
    margin: 0;
    padding: 0;

    font-family: Arial;
    font-size: 12px;
	
	background-color: #C4D0F2;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#interface
{
	width: 100%;
}

.content
{
    margin: 0 10px 0 10px;
}

.cam-img
{
    margin-top: -10px;
    margin-left: -10px;
}

.command li
{
    padding: 6px;
    margin: 0 0 10px 0;

    border-radius: 4px;
}

.event-item, .action-item {
    cursor: move;
    color: white;
}

.command-items .event-item, .command-items .action-item {
    cursor: default;
}

.column
{
    float: left;
	width: 30%;
}

.clear
{
    clear: both;
}

.area .title
{
    background-image: url('../imgs/gradient01.jpg');
    margin: 0 0 10px 0;
    padding: 5px;
    color: white;
	font-weight: bold;
}

.command
{
    min-height: 90px;
}

#target
{
	width:70%;
}

#target li
{
	float: left;
}

.command-items-first {
    background: url('../imgs/assets_icons_new_0001.png');
}

.command-items-second {
    background: url('../imgs/assets_icons_new_0003.png');
}

.command-items-third {
    background: url('../imgs/assets_icons_new_0005.png');
}

.command-items {
    height: 45px;
    background-repeat: no-repeat;
    padding-left: 58px;
}

.command-items li {
    float: left;
    padding: 0;
}

.actionActive
{
	//background-Color: black;
}

.command-items .event-item, .command-items .action-item, .command-items .and {
    margin-left: -10px;
}

.space
{
	clear: both;
	height: 13px;
}

.outter-pad
{
	background-image: url('../imgs/outter_pad.png');
    background-repeat: no-repeat;
    background-position: center;
	width: 270px;
	height: 270px;
}

.inner-pad
{
    cursor: pointer;
    position: relative;
    top: 65px;
    left: 40px;
}

.fork
{
    padding-left: 10px;
}
